#scoreBoard {
    font-weight: bold;
}

#paBtn {
    background: #795548;
    color: #FAFAFA;
}

#scBtn {
    background: #FFFF00;
    color: #757575;
}

#stBtn {
    background: #0277BD;
    color: #FAFAFA;
}
